@model CoreLibrary.Models.BtcData

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BtcData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NonCommercialsLong" class="control-label"></label>
                <input asp-for="NonCommercialsLong" class="form-control" />
                <span asp-validation-for="NonCommercialsLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NonCommercialsShort" class="control-label"></label>
                <input asp-for="NonCommercialsShort" class="form-control" />
                <span asp-validation-for="NonCommercialsShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NonCommercialsPercentLong" class="control-label"></label>
                <input asp-for="NonCommercialsPercentLong" class="form-control" />
                <span asp-validation-for="NonCommercialsPercentLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NonCommercialsPercentShort" class="control-label"></label>
                <input asp-for="NonCommercialsPercentShort" class="form-control" />
                <span asp-validation-for="NonCommercialsPercentShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NonCommercialsNetPositions" class="control-label"></label>
                <input asp-for="NonCommercialsNetPositions" class="form-control" />
                <span asp-validation-for="NonCommercialsNetPositions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialsLong" class="control-label"></label>
                <input asp-for="CommercialsLong" class="form-control" />
                <span asp-validation-for="CommercialsLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialsShort" class="control-label"></label>
                <input asp-for="CommercialsShort" class="form-control" />
                <span asp-validation-for="CommercialsShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialsPercentLong" class="control-label"></label>
                <input asp-for="CommercialsPercentLong" class="form-control" />
                <span asp-validation-for="CommercialsPercentLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialsPercentShort" class="control-label"></label>
                <input asp-for="CommercialsPercentShort" class="form-control" />
                <span asp-validation-for="CommercialsPercentShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialsNetPositions" class="control-label"></label>
                <input asp-for="CommercialsNetPositions" class="form-control" />
                <span asp-validation-for="CommercialsNetPositions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalLong" class="control-label"></label>
                <input asp-for="TotalLong" class="form-control" />
                <span asp-validation-for="TotalLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalShort" class="control-label"></label>
                <input asp-for="TotalShort" class="form-control" />
                <span asp-validation-for="TotalShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalNetPositions" class="control-label"></label>
                <input asp-for="TotalNetPositions" class="form-control" />
                <span asp-validation-for="TotalNetPositions" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
