@model CoreLibrary.Models.CrudeOilData

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CrudeOilData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Long" class="control-label"></label>
                <input asp-for="Long" class="form-control" />
                <span asp-validation-for="Long" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Short" class="control-label"></label>
                <input asp-for="Short" class="form-control" />
                <span asp-validation-for="Short" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PercentLong" class="control-label"></label>
                <input asp-for="PercentLong" class="form-control" />
                <span asp-validation-for="PercentLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PercentShort" class="control-label"></label>
                <input asp-for="PercentShort" class="form-control" />
                <span asp-validation-for="PercentShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetPositions" class="control-label"></label>
                <input asp-for="NetPositions" class="form-control" />
                <span asp-validation-for="NetPositions" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
